* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.main-nav {
  width: 100%;
  height: 4.01rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
}

.nav-img {
  margin-right: 1.5rem;
}

.first-content {
  height: 37.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/header-shapes\ mobile.png);
  background-size: 100%;
}

.greeting {
  font-size: 30px;
  font-weight: 700;
  line-height: 52px;
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  margin-left: 1.5rem;
}

.info {
  margin: 0 1.5rem 0 1.5rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.connect {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8cff;
  margin: 0.5rem 0 1rem 1.5rem;
}

.social-info {
  display: block;
  width: 50%;
  margin-left: 1.5rem;
}

.social-connect {
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}

.social-connect li {
  list-style: none;
  text-decoration: none;
}

.social-connect li a {
  padding: 0 0.5rem;
}

.work {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.describe {
  background: #fff;
  border: 1px solid #ebebff;
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 20rem;
}

.head-name {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #172b4d;
}

.tonic-ul {
  display: flex;
}

.canopy {
  color: #171a1f;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  list-style: none;
}

.tonic-ul li {
  padding: 0 1rem;
  list-style: none;
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tonic-p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
}

.lang-li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 0 0.5rem;
}

.work-btn {
  color: #396df2;
  font-weight: 500;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  border: 1px solid #396df2;
  padding: 0.7rem 1.5rem;
  background: transparent;
  border-radius: 5px;
  width: 55%;
}
.work-btn:hover {
  background: rgb(56, 179, 221);
  color: white;
}
.work-btn:active {
  background: blue;
  color: white;
}
.work-btn:focus {
  background-color: green;
  color: white;
}
.section-about {
  padding: 6rem 3.2rem 3rem 3rem;
  border-top-right-radius: 80px;
  z-index: 1000;
}

.subheader {
  font-size: 2rem;
  font-weight: 500;
}

.languages-used {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.about-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.language-used {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
  padding: 1.2rem 2rem;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.language-used span {
  font-size: 1.5rem;
  font-weight: 500;
}

.subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.frameworks-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.about-text {
  padding: 9.6rem 0 4.8rem 0;
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-icon {
  list-style: none;
  padding: 0 0.5rem;
  line-height: 4rem;
}

.heading-tertiary {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
  color: #172b4d;
}

.about-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.heading-secondary {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 54px;
  text-transform: uppercase;
  color: #7f8cff;
  margin-top: 1rem;
}

.btn {
  text-decoration: none;
  color: #396df2;
  font-weight: 500;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  border: 1px solid #396df2;
  padding: 0.7rem 1.5rem;
  background: transparent;
  border-radius: 5px;
  line-height: 4rem;
}
.btn:hover {
  background: rgb(56, 179, 221);
  color: white;
}
.btn:active {
  background: blue;
  color: white;
}
.btn:focus {
  background-color: green;
  color: white;
}

.right-arrow {
  width: 24px;
  height: 24px;
}
